.content {
  position: relative;

  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}


.background_img {
  height: 60vh;
  position: absolute;
  left: -250px;
  top: 100px;

}

.info {
  width: 60%;
  margin-right: 90px;
  margin-top: 40px;
  color: #fff;
}

input {
  border: 1px solid #999999;
  border-radius: 22px;
  width: 80%;
  background: transparent;
  font-size: 18px;
  padding: 10px;
  margin-right: 12px;
  color: #ccc;
}

button {
  border: 1px solid #999999;
  border-radius: 22px;
  background: #2D333B;
  font-size: 18px;
  padding: 10px 15px;
  margin-right: 12px;
  color: #FFFFFF;

  cursor: pointer;
}

.perfil {
  display: flex;
  
  gap: 32px;
  margin: 40px 0;
  color: #999999;
}

.profile {
  width: 120px;
  height: 120px;
  border-radius: 60px;
  border: 1px solid #E5E5E5;

}

.perfil h3{
  font-size: 24px;
  margin: 0;
}


.perfil span, p {
  font-size: 12px;
  padding: 10px 0;
  margin: 0;
}

.repositories {
  font-size: 32px;
  color: #FFFFFF;
  margin: 12px 0;
  text-align: center;
}